/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: 'Merriweather', serif;
  font-size: medium;
  line-height: 1.2rem;   /* percent is a relative unit */ 
}

section :is(h1, h2, h3, h4, h5, h6) + p {
  text-indent: 2rem;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: large;  /* uses relative sizes */
  text-align: center;
  letter-spacing: 0.15rem;
}


h1 {
    letter-spacing: 0.25rem;
    font-family: 'Roboto Slab', serif;
}

h2 {
    margin-bottom: 0%;
    letter-spacing: 0.25rem;
    font-family: 'Roboto Slab', serif;
}

footer {
  border-top: 5px solid #aa6666;
  font-size: small;
}

footer p {
  text-align: center;
}

/* Links */

a:focus {
  outline: none;
}

a:link {
    color: darkred;
    text-decoration: underline;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:visited {
    color: darkmagenta;
}

/* External link icon for http links */
a[href^="http"]::after {
  content: "";                                
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-left: 0.3em;
  background-image: url('./external-link-52.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;                   /* respect the width/height constraint */
  vertical-align: text-top;
}

/* Lists */

ul {
    line-height: 1.2rem;
    list-style: disc;
}

/* Nav */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
  color: antiquewhite;
}

nav a {
  display: block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  color: white;
  background-color: black;
  border-radius: 8px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: maroon;
}

nav a:visited {
    color: white;
}